<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="id_main" class="container mt-5">
    <h4> Remaining Task: {{ noOfTask }}</h4>
    <form v-on:submit.prevent="addTask">
        <input type="text" placeholder="What do you need to do"
               v-model="inputTask">

    </form>

    <p v-show="noOfTask==0"> To add a new task, write something and press enter</p>

    <ul>
        <li v-for="task in tasks" class="card alert alert-success">
            {{task}}
            <button type="button" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </li>
    </ul>
</div>
<script src="main.js"></script>
</body>
</html>